// ==========================================================================
// Font Face Declarations
// ==========================================================================

// ITC Eras Std Font Family
@font-face {
  font-family: "ITC Eras Std";
  src: url("/fonts/ITCErasStd-Light.woff2") format("woff2"),
       url("/fonts/ITCErasStd-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ITC Eras Std";
  src: url("/fonts/ITCErasStd-Medium.woff2") format("woff2"),
       url("/fonts/ITCErasStd-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ITC Eras Std";
  src: url("/fonts/ITCErasStd-Medium.woff2") format("woff2"),
       url("/fonts/ITCErasStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ITC Eras Std";
  src: url("/fonts/ITCErasStd-Demi.woff2") format("woff2"),
       url("/fonts/ITCErasStd-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ITC Eras Std";
  src: url("/fonts/ITCErasStd-Bold.woff2") format("woff2"),
       url("/fonts/ITCErasStd-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ITC Eras Std";
  src: url("/fonts/ITCErasStd-Ultra.woff2") format("woff2"),
       url("/fonts/ITCErasStd-Ultra.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

// Century Gothic Font Family
@font-face {
  font-family: "Century Gothic";
  src: url("/fonts/CenturyGothic-Regular.woff2") format("woff2"),
       url("/fonts/CenturyGothic-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Century Gothic";
  src: url("/fonts/CenturyGothic-Bold.woff2") format("woff2"),
       url("/fonts/CenturyGothic-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// Google Fonts Import
@import url("https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap");


.font-bold{
  font-weight: 600;
}